body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: background-color 0.3s ease;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar.scrolled {
  /* background-color: #2980b9; */
  background-color: greenyellow;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #2c3e50;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3498db;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.dropdown-content a {
  color: #ffffff;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
  }

  .nav-links.active li {
    margin: 10px 0;
  }
}

#manual{
  width: 100px;
  height: 50px;
  padding-left: 50px;
}
